@model Product

<div class="row">
    <h3>New Product</h3>
</div>

<div>
    <form asp-controller="NewProduct" asp-action="NewProduct" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="name"></label>
            <div class="col-md-5">
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="shortDesc"></label>
            <div class="col-md-5">
                <input asp-for="shortDesc" class="form-control" />
                <span asp-validation-for="shortDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="longDesc"></label>
            <div class="col-md-5">
                <input asp-for="longDesc" class="form-control" />
                <span asp-validation-for="longDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="img"></label>
            <div class="col-md-5">
                <input type="file" name="imgfile" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="price"></label>
            <div class="col-md-5">
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="isFavourite"></label>
            <div class="col-md-5">
                <input asp-for="isFavourite" class="form-control" />
                <span asp-validation-for="isFavourite" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="available"></label>
            <div class="col-md-5">
                <input asp-for="available" class="form-control" />
                <span asp-validation-for="available" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="categoryID"></label>
        <div class="col-md-5">

            <input asp-for="categoryID" class="form-control" />
            <span asp-validation-for="categoryID" class="text-danger"></span>
        </div>
        </div>
        <input class="btn btn-success" type="submit" value="Complete new Product" />
    </form>
    

</div>